<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <!-- Redirect Nacos and AgentScope internal logs to Console for container environments -->
    <appender name="CONFIG_LOG_FILE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>${CONSOLE_LOG_CHARSET}</charset>
        </encoder>
    </appender>

    <appender name="AI_LOG_FILE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>${CONSOLE_LOG_CHARSET}</charset>
        </encoder>
    </appender>

    <appender name="REMOTE_LOG_FILE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>${CONSOLE_LOG_CHARSET}</charset>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="io.agentscope.examples.paasassistant.diagnosis.memory" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="AI_LOG_FILE"/>
    </logger>

    <!-- Silence excessive Nacos internal logging if needed, but ensure appenders are started -->
    <logger name="com.alibaba.nacos" level="INFO" additivity="false">
        <appender-ref ref="CONFIG_LOG_FILE"/>
        <appender-ref ref="REMOTE_LOG_FILE"/>
        <appender-ref ref="CONSOLE"/>
    </logger>

</configuration>
